* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #1E3A8A;
  --secondary-color: #FBBF24;
  --accent1-color: #10B981;
  --accent2-color: #F472B6;
  --body-font: 'Roboto', Arial, sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

nav, header > nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  border: 1px solid #000;
  padding: 14px 25px;
  align-self: center;
}

.logo {
  margin: 0 auto;
}

.hero, .logo {
  margin: 0 auto;
}

.hero h1 {
  padding-top: 10px;
  text-align: center;
}

.hero p, .content p:first-child, .content p:last-child {
  text-align: justify;
}

.hero p {
  padding: 30px;
}

.content p:first-child {
  padding: 34px;
}

.content p:last-child {
  padding: 40px;
}

.gallery h2, .gallery h3 {
  text-align: center;
}

.gallery h2 {
  padding-top: 25px;
}

.gallery > div {
  display: flex;
  justify-content: center;
  column-gap: 43px;
}

figure {
  width: 220px;
  height: 200px;
}

figure img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 4.4fr 1fr;
}

footer a {
  border: none;
}

footer p {
  color: green;
  text-align: center;
  align-self: center;
  padding-left: 240px;
}