* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #1E3A8A;
  --secondary-color: #FBBF24;
  --accent1-color: #10B981;
  --accent2-color: #F472B6;
  --body-font: 'Roboto', Arial, sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.icon {
  text-decoration: none !important;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent2-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
}

footer{
  font-size: 30px;
  color: black !important;
}