main {
  max-width: 800px;
}

aside {
  width:79%;
  margin: 10px;
  border: 1px solid black;
  padding: 1rem;
  color: gold;
  background-color: rgb(155, 155, 155);
}

img aside {
  width: 200x;
  height: auto;
}

footer{
  margin:0;
  border-top: 2px solid black;
  text-align: center;
}