main {
  max-width: 800px;
}

aside {
  width: 79%;
  margin: 10px;
  border: 1px solid black;
  padding: 1rem;
  background-color: rgb(155, 155, 155);
  color: gold;
  max-width: 800px;
}

main img, aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}
  
  footer {
    margin: 15px;
    border-top: 2px solid black;
    text-align: center;
}
